* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

ul li:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* header*/
header {
  display: flex;
  justify-content: space-evenly;
  background-image: url(./images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo,
.contactus1 {
  padding: 30px 0;
}

.search {
  padding-top: 50px;
}

.logo p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #252525;
}

.search input {
  width: 520px;
  height: 44px;
}

.search button {
  width: 119px;
  height: 44px;
  background-color: #3e7850;
  border: none;
  color: white;
  margin-left: -10px;
}

.search button i {
  display: none;
}

.search p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #b4b4b4;
}

.search p a {
  color: #0060b8;
}

.contactus1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #686868;
}

.contactus1 h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #252525;
  padding: 5px 0;
}

.contactus1 h1 i {
  width: 20px;
  height: 19.95px;
  color: #3e7850;
  padding-right: 20px;
}

.contactus1 h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
  text-align: right;
}

/* menu1 */
.menu1 {
  border-bottom: 1px solid #e5e5e5;
}

.menu1 ul {
  padding: 20px 0;
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.menu1 ul li a {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
  text-decoration: none;
}

#here {
  color: #3e7850;
  text-decoration: underline;
}

#here {
  color: #3e7850;
}

/* container1 */
.container1 table {
  margin: 0 auto;
}

.container1 h1 {
  text-align: center;
  padding-top: 40px;
}

.container1 img {
  margin-left: 47%;
  padding: 10px 0 30px;
}

.container1 table,
.container1 table tr th,
.container1 table tr td {
  border: 1px solid #b4b4b4;
  border-collapse: collapse;
}

.container1 table tr th {
  text-align: left;
  background-color: #e7e7e7;
}

.container1 table tr td:nth-child(2) {
  color: #0060b8;
  width: 500px;
}

.container1 table tr td:last-child {
  padding-left: 50px;
}

.container1 table tr th,
.container1 table tr td {
  padding: 7px 20px;
}

.container1 table tr td:first-child {
  padding-right: 100px;
}

/* container2 */
.container2 img {
  width: 100%;
}
/* container3 */
.container3 {
  display: flex;
  justify-content: space-around;
  height: 65vh;
}

.text4 {
  margin-top: 70px;
}

.text4 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
}

.text4 h3 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #232323;
}

.text4 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
}

form {
  margin-top: 70px;
  width: 485px;
  height: 28px;
}

form fieldset {
  margin: 25px 0;
}

form input {
  border: none;
  width: 485px;
  height: 28px;
  outline: none;
}

form fieldset:focus-within {
  border-color: #0060b8;
}

#checkbox {
  width: 15px;
  height: 15px;
}

label {
  color: #202020;
}

label span {
  margin-left: 18px;
  color: #0060b8;
}

form button {
  width: 160px;
  height: 44px;
  background: #3e7850;
  border-radius: 3px;
  border: none;
  color: white;
  margin-left: 30px;
}

#map {
  display: none;
}

/* footer */
footer {
  background-color: #252525;
}

.logo2 p {
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #ffffff;
}

footer ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  list-style-type: none;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

footer h1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.left {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
  width: 50%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h1 {
  padding-right: 100px;
}

.text1 a:hover i {
  margin-left: 5px;
  transition: 0.5s;
}

@media screen and (min-width: 340px) and (max-width: 640px) {
  .menu1,
  #map1 {
    display: none;
  }

  /* header */
  header {
    flex-wrap: wrap;
    height: 15vh;
  }

  .logo p {
    display: none;
  }

  .logo {
    justify-content: inherit;
  }

  .logo img {
    width: 50%;
  }

  .search input {
    width: 80%;
    margin-left: 10px;
  }

  .search p {
    display: none;
  }

  .text1 {
    margin-left: 20px;
  }

  .search {
    margin-top: -50px;
    width: 100%;
    order: 1;
  }

  .search button span {
    display: none;
  }

  .search button i {
    display: block;
  }

  .search button {
    width: 15%;
  }

  .contactus1 p,
  .contactus1 h1 span,
  .contactus1 h3 {
    display: none;
  }

  .contactus1 h1 {
    display: block;
  }

  #bars {
    color: #686868;
  }

  /* container3 */
  .container3 {
    flex-wrap: wrap;
  }

  .text4 {
    text-align: center;
  }

  .text4 img {
    margin-left: 75px;
  }

  .inputs {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .inputs button {
    width: 60%;
    height: 7vh;
  }

  /* container2 */
  #map {
    overflow: hidden;
    position: relative;
    z-index: 4;
    top: 500px;
    display: block;
  }

  /* footer */
  footer {
    flex-wrap: wrap;
    margin-top: 134%;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    flex-wrap: wrap;
  }

  .left ul {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
  }

  .left ul li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  footer h1 {
    width: 100%;
  }

  .contacts {
    display: none;
  }
}
